{% layout "server/layouts/base.liquid" %}

{% block content %}
    <section class="error-page">
      <div>
        <img src="/assets/images/error-500.webp" alt="Error 500 Internal Server Error">
      </div>
      <h1>Something is wrong with our server</h1>
      <p>It's not you, it's us.. Let's get you back on track until we fix this!</p>
      <a href="/">Go back to home</a>
    </section>
{% endblock %}

